/** @format */

@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,700&family=Hanken+Grotesk:ital,wght@0,100;0,200;0,500;0,700;0,800;1,400&family=Montserrat:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background: hsl(30, 38%, 92%);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 100vh;
  margin: 0 auto;
  background: hsl(30, 38%, 92%);
}
.left-container {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 50%;
  height: 58%;
}
.left-img {
  background-image: url("../images/image-product-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px 0 0 15px;
}
.right-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 40px;
  width: 50%;
  height: 58%;
  background: hsl(0, 0%, 100%);
  border-radius: 0 15px 15px 0;
}
.perfume-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}
.perfume-title {
  color: hsl(228, 12%, 48%);
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.perfume-heading {
  font-weight: 700;
  font-size: 36px;
  color: black;
  font-family: "Fraunces", sans-serif;
  padding: 30px 0 30px 0;
}
.perfume-text {
  color: hsl(228, 12%, 48%);
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
}
.price-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  height: auto;
  padding: 30px 0 30px 0;
}
.discount-price {
  width: 50%;
  font-size: 34px;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
}
.original-price {
  display: flex;
  width: 50%;
  height: 100%;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  text-decoration: line-through;
}
.cart-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.cart-btn img {
  margin-right: 10px;
}
.cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  border: none;
  color: hsl(0, 0%, 100%);
  background: hsl(158, 36%, 37%);
  border-radius: 15px;
}

