@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,700&family=Hanken+Grotesk:ital,wght@0,100;0,200;0,500;0,700;0,800;1,400&family=Montserrat:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background: hsl(30, 38%, 92%);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 100vh;
  margin: 0 auto;
  background: hsl(30, 38%, 92%);
}
.left-container {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 50%;
  height: auto;
}
.left-img {
  width: 100%;
  height: 100%;
}
.desktop-img {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 15px 0 0 15px;
}
.mobile-img {
  display: none;
}
.right-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 32px;
  width: 50%;
  height: auto;
  background: hsl(0, 0%, 100%);
  border-radius: 0 15px 15px 0;
}
.perfume-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}
.perfume-title {
  color: hsl(228, 12%, 48%);
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.perfume-heading {
  font-weight: 700;
  font-size: 36px;
  color: black;
  font-family: "Fraunces", sans-serif;
  padding: 30px 0 30px 0;
}
.perfume-text {
  color: hsl(228, 12%, 48%);
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
}
.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 30px 0 30px 0;
}
.discount-price {
  width: 50%;
  font-size: 34px;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces", sans-serif;
}
.original-price {
  display: flex;
  width: 50%;
  height: 100%;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  text-decoration: line-through;
}
.cart-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.cart-btn img {
  margin-right: 15px;
}
.cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 15px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  border: none;
  color: hsl(0, 0%, 100%);
  background: hsl(158, 36%, 37%);
  border-radius: 15px;
  cursor: pointer;
}
.cart-btn:hover {
  background-color: hsl(156, 42%, 18%);
}
.attribution {
  font-size: 11px;
  text-align: center;
  padding-bottom: 5px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* Mobile Devices (320px to 480px) in Portrait */
@media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background: hsl(30, 38%, 92%);
  }
  .left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: auto;
    margin-top: 55px;
  }
  .left-img {
    width: 100%;
    height: 100%;
  }
  .desktop-img {
    display: none;
  }
  .mobile-img {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
  }
  .right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    width: 85%;
    height: auto;
    background: hsl(0, 0%, 100%);
    border-radius: 0 0 15px 15px;
  }
  .perfume-title {
    font-size: 12px;
  }
  .perfume-heading {
    font-size: 18px;
    padding: 15px 0 15px 0;
  }
  .perfume-text {
    font-size: 12px;
    line-height: 25px;
  }
  .price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 15px 0 15px 0;
  }
  .discount-price {
    font-size: 22px;
  }
  .original-price {
    font-size: 14px;
  }
  .cart-btn img {
    margin-right: 15px;
  }
  .cart-btn {
    padding: 10px;
    font-size: 14px;
  }
  .attribution {
    width: 330px;
    height: 60px;
    display: flex;
    align-items:end;
    justify-content:center;
    font-size: 11px;
    text-wrap:wrap;
  }
}

/* Mobile Devices (320px to 480px) in Landscape Mode: */
@media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 480px;
    margin: 0 auto;
    background: hsl(30, 38%, 92%);
  }
  .left-container {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: auto;
  }
  .left-img {
    width: 100%;
    height: 100%;
  }
  .desktop-img {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 15px 0 0 15px;
  }
  .mobile-img {
    display: none;
  }
  .right-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 16px;
    width: 100%;
    height: auto;
    background: hsl(0, 0%, 100%);
    border-radius: 0 15px 15px 0;
  }
  .perfume-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
  }
  .perfume-title {
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  .perfume-heading {
    font-weight: 700;
    font-size: 18px;
    color: black;
    font-family: "Fraunces", sans-serif;
    padding: 20px 0 20px 0;
  }
  .perfume-text {
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
  }
  .price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 30px 0 30px 0;
  }
  .discount-price {
    width: 50%;
    font-size: 20px;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
    font-family: "Fraunces", sans-serif;
  }
  .original-price {
    display: flex;
    width: 50%;
    height: 100%;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    text-decoration: line-through;
  }
  .cart-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .cart-btn img {
    margin-right: 15px;
  }
  .cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    border: none;
    color: hsl(0, 0%, 100%);
    background: hsl(158, 36%, 37%);
    border-radius: 15px;
    cursor: pointer;
  }
  .cart-btn:hover {
    background-color: hsl(156, 42%, 18%);
  }
  .attribution {
    font-size: 11px;
    text-align: center;
    padding-bottom: 5px;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}

/* iPads and Tablets (481px to 768px) in Portrait */
@media only screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background: hsl(30, 38%, 92%);
  }
  .left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: auto;
    margin-top: 55px;
  }
  .left-img {
    width: 100%;
    height: 100%;
  }
  .desktop-img {
    display: none;
  }
  .mobile-img {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
  }
  .right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 85%;
    height: auto;
    background: hsl(0, 0%, 100%);
    border-radius: 0 0 15px 15px;
  }
  .perfume-title {
    font-size: 15px;
  }
  .perfume-heading {
    font-size: 28px;
    padding: 25px 0 25px 0;
  }
  .perfume-text {
    font-size: 16px;
    line-height: 25px;
  }
  .price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 25px 0 25px 0;
  }
  .discount-price {
    font-size: 30px;
  }
  .original-price {
    font-size: 19px;
  }
  .cart-btn img {
    margin-right: 15px;
  }
  .cart-btn {
    padding: 15px;
    font-size: 16px;
  }
  .attribution {
    width: 330px;
    height: 60px;
    display: flex;
    align-items:end;
    justify-content:center;
    font-size: 14px;
    text-wrap:wrap;
  }
}

/* iPads and Tablets (481px to 768px) in Landscape */
@media only screen and (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 481px;
    height: 100vh;
    margin: 0 auto;
    background: hsl(30, 38%, 92%);
  }
  .left-container {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: auto;
  }
  .left-img {
    width: 100%;
    height: 100%;
  }
  .desktop-img {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 15px 0 0 15px;
  }
  .mobile-img {
    display: none;
  }
  .right-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 16px;
    width: 100%;
    height: auto;
    background: hsl(0, 0%, 100%);
    border-radius: 0 15px 15px 0;
  }
  .perfume-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
  }
  .perfume-title {
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  .perfume-heading {
    font-weight: 700;
    font-size: 20px;
    color: black;
    font-family: "Fraunces", sans-serif;
    padding: 20px 0 20px 0;
  }
  .perfume-text {
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
  .price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 25px 0 25px 0;
  }
  .discount-price {
    width: 50%;
    font-size: 20px;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
    font-family: "Fraunces", sans-serif;
  }
  .original-price {
    display: flex;
    width: 50%;
    height: 100%;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    text-decoration: line-through;
  }
  .cart-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .cart-btn img {
    margin-right: 15px;
  }
  .cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    border: none;
    color: hsl(0, 0%, 100%);
    background: hsl(158, 36%, 37%);
    border-radius: 15px;
    cursor: pointer;
  }
  .cart-btn:hover {
    background-color: hsl(156, 42%, 18%);
  }
  .attribution {
    font-size: 11px;
    text-align: center;
    padding-bottom: 5px;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}

/* Large Screens and Desktops (1025px to 1440px): */
@media only screen and (min-width: 1026px) and (max-width: 1440px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 100vh;
    margin: 0 auto;
    background: hsl(30, 38%, 92%);
  }
  .left-container {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 50%;
    height: auto;
  }
  .left-img {
    width: 100%;
    height: 100%;
  }
  .desktop-img {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 15px 0 0 15px;
  }
  .mobile-img {
    display: none;
  }
  .right-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 32px;
    width: 50%;
    height: auto;
    background: hsl(0, 0%, 100%);
    border-radius: 0 15px 15px 0;
  }
  .perfume-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
  }
  .perfume-title {
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  .perfume-heading {
    font-weight: 700;
    font-size: 36px;
    color: black;
    font-family: "Fraunces", sans-serif;
    padding: 30px 0 30px 0;
  }
  .perfume-text {
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
  }
  .price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 30px 0 30px 0;
  }
  .discount-price {
    width: 50%;
    font-size: 34px;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
    font-family: "Fraunces", sans-serif;
  }
  .original-price {
    display: flex;
    width: 50%;
    height: 100%;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    text-decoration: line-through;
  }
  .cart-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .cart-btn img {
    margin-right: 15px;
  }
  .cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 15px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    border: none;
    color: hsl(0, 0%, 100%);
    background: hsl(158, 36%, 37%);
    border-radius: 15px;
    cursor: pointer;
  }
  .cart-btn:hover {
    background-color: hsl(156, 42%, 18%);
  }
  .attribution {
    font-size: 11px;
    text-align: center;
    padding-bottom: 5px;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
